@model PagedList.IPagedList<GaubongShop.Models.Customer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h2>Tìm Kiếm</h2>
    <div style="border: 3px solid #ff6a00; height: 70px; text-align: center; padding: 15px;">
        <!--Vị trí trình bày cho mục 5, tìm sản phẩm theo tên sp và giá-->
        @using (Html.BeginForm("CustomerList", "Customers", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        Tên khách hàng : <input type="text" name="SearchString" />
                        <input type="submit" value="Tìm kiếm" class="btn btn-warning" />
                    </td>
                </tr>
            </table>
        }
        <!--Kết thúc -->

    </div>
    <div class="row">
        @foreach (var pro in Model)
        {
            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pro">
                    <p>@Html.DisplayFor(model => pro.CustomerID)</p>
                    <p>@Html.DisplayFor(model => pro.CustomerName)</p>
                    <p>@Html.DisplayFor(model => pro.CustomerPhone)</p>
                    <p>@Html.DisplayFor(model => pro.CustomerEmail)</p>
                    <p>@Html.DisplayFor(model => pro.CustomerAddress)</p>
                    <p style="text-align: center;">
                        <input type="submit" value="Tìm" class="btn btn-danger" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- Thêm đoạn mã để hiển thị số trang và số trang hiện tại -->
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<!--Control PagedListPager: mô tả mô hình với số trang là liên kết với tham số "Index" và tham số page-->
@Html.PagedListPager(Model, page => Url.Action("CustomerList", new { page }))
<!-- Kết thúc -->
