@model IEnumerable<GaubongShop.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>KHÁCH HÀNG</h1>

<p>
    @Html.ActionLink("Thêm khách hàng mới", "Create")
</p>
<table class="table table-bordered" style="border-width:thick" border="1" ;>
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.CustomerID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.CustomerID }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.CustomerID })
            </td>
        </tr>
    }

</table>
