@model GaubongShop.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            padding: 2px;
        }

        th, td {
            padding: 5px;
            border: 1px solid black;
        }
    </style>
</head>
<h1>CHI TIẾT ĐƠN HÀNG</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="control-label col-sm-2">
            Ngày đặt hàng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="control-label col-sm-2">
            Địa chỉ giao hàng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        <dt class="control-label col-sm-2">
            Khách hàng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>

    </dl>
</div>
<h3>Chi tiết đơn hàng</h3>
<table>
    <tr>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
    </tr>
    <tr>
        <td>1</td>
        <td>5</td>
        <td>650</td>
        <td>3250</td>
    </tr>
    <tr>
        <td>2</td>
        <td>10</td>
        <td>600</td>
        <td>6000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>12</td>
        <td>750</td>
        <td>9000</td>
    </tr>
</table>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Quay về danh sách", "Index")
</p>