@model IEnumerable<GaubongShop.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1>DANH SÁCH CÁC ĐƠN HÀNG</h1>
<p>
    @Html.ActionLink("Tạo đơn hàng mới", "Create")
</p>
<table class="table table-bordered" style="border-width:thick" border="1" ;>
    <tr>
        <th>
            Ngày giao hàng
        </th>
        <th>
            Địa chỉ giao hàng
        </th>
        <th>
            Khách hàng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.OrderID })
            </td>
        </tr>
    }

</table>
