@model GaubongShop.Models.ViewModel.ProductSearchVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<html>
<head>
    <meta name="=viewport" content="width-device-width" />
    <title>Search</title>
    <style>
        .search-container, .order-container {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <!--tìm kiếm-->
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "form-control",
                placehoder = "Nhập tên sản phẩm: "
            })
            <button type="submit" class="t=btn btn-primary">Tìm kiếm</button>
        </div>
        <!--Tùy chọn sắp xếp -->
        <div class="from-group order-container">
             Sắp xếp theo:
             @Html.ActionLink("Tên tăng dần", "Index", "Products", new { sortOrder = "name_asc", searchTerm = Model.SearchTerm }, null) |
             @Html.ActionLink("Tên giảm dần", "Index", "Products", new { sortOrder = "name_desc", searchTerm = Model.SearchTerm }, null)|
             @Html.ActionLink("Giá tăng dần", "Index", "Products", new { sortOrder = "price_asc", searchTerm = Model.SearchTerm }, null) |
             @Html.ActionLink("Giá giảm dần", "Index", "Products", new { sortOrder = "price_desc", searchTerm = Model.SearchTerm }, null) 
        </div>
    }
    @*Form kết quả tìm kiếm*@
    @Html.Partial("ProductListPV", Model)
</body>
</html>