@model GaubongShop.Models.ViewModel.ProductSearchVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <meta name="=viewport" content="width-device-width" />
    <title>Search</title>
    <style>
        .bg-cam, body {
            background-color: navajowhite;
            align-items: center;
        }
        .upd a {
            color: white;
        }
    </style>
</head>
<body>
    <!--tìm kiếm-->
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="bg-cam">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "form-control",
                placehoder = "Nhập tên sản phẩm: "
            })
            <button type="submit" class="t=btn btn-primary">Tìm kiếm</button>
        </div>
        <!--Tùy chọn sắp xếp -->
        <div class="upd">
            Sắp xếp theo:
            @Html.ActionLink("Tên tăng dần", "Index", "Products", new { sortOrder = "name_asc", searchTerm = Model.SearchTerm }, null) |
            @Html.ActionLink("Tên giảm dần", "Index", "Products", new { sortOrder = "name_desc", searchTerm = Model.SearchTerm }, null)|
            @Html.ActionLink("Giá tăng dần", "Index", "Products", new { sortOrder = "price_asc", searchTerm = Model.SearchTerm }, null) |
            @Html.ActionLink("Giá giảm dần", "Index", "Products", new { sortOrder = "price_desc", searchTerm = Model.SearchTerm }, null)
        </div>
    }
    @*Form kết quả tìm kiếm*@
    @Html.Partial("PVListProduct", Model)
</body>
</html>